.email {
    position: fixed;
    bottom: 0;
    right: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    &-link {
        writing-mode: vertical-rl;
        text-decoration: none;
        color: var(--lightest-slate);
        font-family: var(--roboto);
        font-size: var(--tsm2);
        letter-spacing: 0.1rem;
        padding: 10px;
        outline: 2px dashed transparent;
        transition: 0.3s ease-in-out;
        &:hover {
            color: var(--theme-color);
        }
        &:focus {
            outline-color: white;
        }
    }
    &::after {
        content: "";
        display: block;
        width: 2px;
        height: 200px;
        background-color: var(--light-slate);
        margin: 0px auto;
    }
}