.about {
    margin: 35rem auto;
    max-width: 1000px;
    .grid-skill {
        display: grid;
        grid-template-columns: 30% 30%;
        gap: 2rem;
        justify-content: center;
        .skill-item {
            display: flex;
            flex-direction: column;
            color: white;
            background-color: transparent;
            border: 1px solid white;
            border-radius: 5px;
            text-align: center;
            &-details {
                display: grid;
                grid-template-columns: 30% 30%;
                gap: 0.4rem;
                list-style-type: none;
                justify-content: center;
                color: skyblue;
            }
        }
    }
}

/* MEDIA QUERIES (TABLE DEVICES) */
@media screen and (max-width: 1024px) {
    .about {
        .grid-skill {
            grid-template-columns: 1fr;
            gap: 2rem;
        }
    }
}

/* For Mobile Device */ 
@media screen and (max-width: 600px) {
    .about {
        max-width: 90%;
    }
}