.experience {
    color: #112240;
    max-width: 800px;
    gap: 1rem;
    margin: 22rem auto;
    .title {
        font-family: var(--roboto);
        position: relative;
        max-width: 100%;
        color: #112240;
        background: linear-gradient(to right, #EED7C1, #112240);
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.2rem;
        h2 {
            margin-bottom: 2rem;
            font-size: var(--tx2large);
            font-weight: 700;
            margin-left: 0.5rem;
            &::after { // straight line next work experience title
                content: "";
                position: absolute;
                top: 20px;
                width: 50%;
                background: linear-gradient(to right, #EED7C1, #112240);
                height: 2px;
                margin-top: 0.4rem;
                margin-left: 3rem;
            }
        }
        @media screen and (max-width: 760px) {
            h2 {
                margin-bottom: 2rem;
                margin-left: 1rem;
                font-size: var(--tx2large);
                font-weight: 700;
                &::after { // straight line next work experience title
                    content: "";
                    position: absolute;
                    top: 20px;
                    width: 35%;
                    background: linear-gradient(to right, #EED7C1, #112240);
                    height: 2px;
                    margin-top: 0.4rem;
                    margin-left: 3rem;
                }
            }
        }
        @media screen and (max-width: 640px) {
            h2 {
                margin-bottom: 2rem;
                margin-left: 1rem;
                font-size: var(--tx2large);
                font-weight: 700;
                &::after { // straight line next work experience title
                    content: "";
                    position: absolute;
                    top: 20px;
                    width: 30%;
                    background: linear-gradient(to right, #EED7C1, #112240);
                    height: 2px;
                    margin-top: 0.4rem;
                    margin-left: 3rem;
                }
            }
        }
        @media screen and (max-width: 450px) {
            h2 {
                margin-bottom: 2rem;
                margin-left: 1rem;
                font-size: var(--tx2large);
                font-weight: 700;
                &::after { // straight line next work experience title
                    content: "";
                    position: absolute;
                    top: 13px;
                    width: 31%;
                    background: linear-gradient(to right, #EED7C1, #112240);
                    height: 2px;
                    margin-top: 0.4rem;
                    margin-left: 3rem;
                }
            }
        }
    }
    .container {
        display: flex;
        align-items: flex-start;
        width: 100%;
        .slider-button {
            z-index: 10;
            background: none;
            border: none;
            margin-top: 0.33rem;
            margin-right: 0.6rem;
        }
        .exp-slider {
            width: 200px;
            overflow: hidden;  /* Prevent content from spilling out. */
            transition: 
                width 1s,        /* Transition for width */
                visibility 0s 0.3s; 
            margin-right: 1rem;

            &.slide-out {
                width: 0; // set width to 0
                visibility: hidden;
            }
            
            list-style-type: none;
            position: relative;
            height: max-content;
            .underline {
                background-color: var(--theme-color);
                position: absolute;
                left: -0.5px;
                top: 0;
                height: 2.5rem;
                width: 2px;
                margin-left: 5.5rem;
            }
            &::before {
                position: absolute;
                margin-left: 5.5rem;
                left: 0px;
                content: "";
                height: 100%;
                width: 1px;
                background-color: var(--lightest-navy);
            }
            &-item, &-item-selected {
                display: flex;
                box-sizing: border-box;
                height: 2.5rem;
                padding: 0 1.0rem;
                cursor: pointer;
                width: 89px; 
                overflow: hidden;  /* Hide excess content */
                white-space: nowrap;  /* Prevent text wrap */
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                
                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: var(--slate);
                    font-family: var(--roboto);
                }
                &:hover {
                    background-color: white;
                    span {
                        color: black;
                    }
                }
            }
            @media screen and (max-width: 450px) {
                &-item {
                    height: 2.5rem;
                    padding: 0 0.7rem;
                    display: flex;
                    vertical-align: middle;
                    cursor: pointer; // this makes indication that I clicked
                    width: 100%; 
                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: var(--slate);
                        font-family: var(--roboto);
                    }
                    &:hover {
                        background-color: transparent;
                        span {
                            color: white;
                        }
                    }
                }
            }
        }
        .exp-details {
            flex-grow: 1;
            font-family: var(--roboto);
            color: #233554;
            &-position {
                color: var(--lightest-slate);
                &-company {
                    color: var(--theme-color);
                }
                @media screen and (max-width: 400px) {
                    margin-left: 1rem;
                }
            }
            &-list {
                display: flex;
                width: 38rem;
                flex-direction: column;
                gap: 1rem;
                margin-top: 1rem;
                padding-left: 30px;
                &-item {
                    position: relative;
                }
            }
        }
    }
}