// Buttons
.btn {
    width: max-content;
    display: inline-block;
    color: white;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid white;
    transition: all 400ms ease;
}
  
.btn:hover {
    background: skyblue;
    color: white;
    border-color: transparent;
}

.btn-primary {
    background: transparent;
    color: white;
}

// contact me containers
.footer-title {
    justify-content: center;
    text-align: center;
    color: white;
}

h4, h5 {
    color: white;
}

.container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 35% 58%;
    gap: 8%;
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    color: white;
}

.contact__option {
    background: transparent;
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid white;
    transition: all 400ms ease;
}

.contact__option:hover {
    background: skyblue;
    border-color: skyblue;
    color: black;
    a, h4, h5 {
        color: black;
    }
}

.contact__option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

.contact__option h5 {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input,
textarea {
    font-family: "Poppins", sans-serif;
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: white;
    border: 2px solid skyblue;
    resize: none;
    color: black; // Text
}

/* MEDIA QUERIES (TABLE DEVICES) */
@media screen and (max-width: 1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/* MEDIA QUERIES (MOBILE DEVICES) */
@media screen and (max-width: 600px) {
    .container.contact__container {
        width: 90%;
    }
}