.hero {
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    margin: auto;
    // min-height: 60vh;
    // margin: 0 40rem;
    &-profile-image {
        border-radius: 50%;
    }
    &-title {
        font-size: var(--tlarge2);
    }
    &-title-large {
        font-size: var(--tx2large);
    }
    &-title-sub {
        font-size: var(--tlarge2);
    }
    &-text {
        line-height: 1.5rem;
    }
    @media screen and (max-width: 768px) {
        &-text {
          width: 90%;
        }
    }
}
