@import "_navbar";
@import "_hero";
@import "_about";
@import "_experience";
@import "_project";
@import "footer";

.app {
    background-color: #EED7C2;
}

.main-component {
    margin: 10rem 5rem;
    background-color: #EED7C2;
    // align-items: center;
    &-skill {
        padding: 0.5px;
        // height: 2000px;
        background-color: var(--lightest-navy);
    }
    &-project {
        padding: 0.5px;
        background-color: var(--lightest-navy);
    }
}

@media screen and (max-width: 600px) {
    .main-component {
        margin: 5rem auto;
    }
}

