// .about {
//     background-color: #223454;
// }
.skill-about {
    display: flex !important;
    flex-direction: column !important;
}

.skill-title {
    color: #EED7C1;
    background: linear-gradient(to left, #EED7C1, #112240);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.2rem;
    // text-align: right;
    h2 {
        font-family: var(--roboto);
        margin-bottom: 2rem;
        font-size: var(--tx2large);
        font-weight: 700;
        margin-left: 0.5rem;
        &::after { // straight line next work experience title
            content: "";
            position: absolute;
            top: 20px;
            width: 70%;
            background: linear-gradient(to left, #EED7C1, #112240);
            height: 2px;
            margin-top: 0.4rem;
            margin-left: 3rem;
        }
    }
    @media screen and (max-width: 485px) {
        h2 {
            margin-bottom: 2rem;
            margin-left: 1rem;
            font-size: var(--tx2large);
            font-weight: 700;
            &::after { // straight line next work experience title
                content: "";
                position: absolute;
                top: 14px;
                width: 60%;
                background: linear-gradient(to left, #EED7C1, #112240);
                height: 2px;
                margin-top: 0.4rem;
                margin-left: 3rem;
            }
        }
    }
}

.skill-section {
    color: #A8B2D1;
}
  
.skill-container {
    position: relative !important;
}

.skl {
    margin-left: 20px;
    color: yellow;
}
  
.sklLine {
    // position: flex;
    bottom: 8px;
    visibility: hidden;
    padding-left: 6px;
    color: greenyellow;
}
  
.progWidth {
    padding: 0 20px;
}
  
.skillDiv {
    border-radius: 1rem;
    height: 1rem;
    width: 100%;
    background-color: gray;
}
  
.skillBar {
    display: block;
    height: 1rem;
    background: linear-gradient(to right, #EED7C1, #112240);
}

.skill-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-set {
    margin-bottom: 1rem;
}